* ========================================
* Template Script: verify_queue_config.mqsc.template
* Will be populated with your QUEUE_NAME
* ========================================

DISPLAY QLOCAL({QUEUE_NAME}) QTYPE DEFPSIST MAXDEPTH CURDEPTH MAXMSGL
DISPLAY QLOCAL({QUEUE_NAME}) BOQNAME BOTHRESH
DISPLAY QLOCAL({QUEUE_NAME}) TRIGTYPE TRIGDATA
DISPLAY QLOCAL({QUEUE_NAME}) USAGE GET PUT SHARE
DISPLAY QLOCAL({QUEUE_NAME}) DEFSOPT DEFREADA
DISPLAY QLOCAL({QUEUE_NAME}) DESCR STGCLASS INDEXTYPE
DISPLAY QLOCAL({QUEUE_NAME}) MONQ STATQ
DISPLAY QLOCAL({QUEUE_NAME}) ALTDATE ALTUSER

* Queue Manager Level Checks
DISPLAY QMGR DEADQ
DISPLAY QMGR MONQ